.career-banner{
    height: 60vh;
  background-color: rgba(0, 0, 0, 0.492);
  background: 
  linear-gradient(180deg, rgba(0, 0, 0, 0.492), rgba(0, 0, 0, 0.492)), 
  url(../../images/career.jpg);
    background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
  text-align: left;
  padding-top:5rem ;
  display: flex;
  align-items: center;
  justify-content: center;
margin:6.6rem 2rem  2rem 2rem;
border-radius: 30px;
color: #fff;

}
.career li{
    list-style: lower-roman;
}
.career h1{
    font-size: 64px;
    font-weight: 700;
}
.career h2,.career h3{
    margin-bottom: 2rem;
    font-weight: 700;
    font-weight: 32px;
    color: #2E7D32;
}
.our-openings{
    margin-top: 3rem;
}
.opening-list{
    position: sticky;
    top: 7rem;
}
.job-title{
    background-color: #2E7D32;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 3px 3px #3a573c83;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.opening h4{
    padding: 10px;
}

.benefits-container{
    margin-top: 4rem;
    text-align: center;
}
.benefit-box{
    background-color: #fff;
    box-shadow: 0 0 4px 4px rgba(90, 90, 207, 0.486);
    padding: 20px;
    margin-bottom: 2rem;
    border-radius: 10px;
    transform: scale(0.9);
    transition: .3s all ease-out;
}
.benefit-box img{
    width: 100px;
}
.benefit-box p{
    padding: 10px;
    font-size: 14px;
    font-weight: 700;
}
.benefit-box:hover{
    transform: scale(1);
    box-shadow: 0 0 5px 6px rgba(90, 90, 207, 0.486);

}