.res-banner{
     
  background: rgb(102,143,212);
  background: linear-gradient(186deg, rgba(102,143,212,1) 0%, rgba(103,210,106,0.7232142857142857) 100%);
    background-size: cover !important;
  background-position: center !important; 
  background-repeat: no-repeat; 
  text-align: left;
  padding-top:5rem ;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
margin:6.6rem 2rem  2rem 2rem;
border-radius: 30px;
color: #fff;
padding: 5rem;
}
.res-banner p{
  text-align: center;
  font-size: 20px;
}

.why-choose-us-section {
  padding: 40px 20px;
  background-color: #2E7D32;
  color: #fff;
  text-align: center;
}
.why-choose-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}
.why-choose-col {
  margin-bottom: 20px;
}
.why-choose-box {
  background-color: #fff;
  color: #2E7D32;
  padding:20px 5px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform .3s ease;
}
.why-choose-box:hover{
  transform: scalex(0.9) ;
}
.why-choose-icon {
  display: flex;
  justify-content: center;

}
.why-choose-icon img{
  width: 80px;
}

.content-item {
  margin-bottom: 1.5rem;
  transition: max-height 0.5s ease-in-out; /* Smooth expand/collapse transition */
}

.view-more-btn {
  font-weight: bold;
  color: #2E7D32 !important;
  margin-top: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
  text-decoration: none !important;
  justify-content: center;
  width: 100%;
  animation: pulse 1s infinite;
}
@keyframes pulse {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px); /* Slight downward movement */
  }
}
.view-less-btn {
  font-weight: bold;
  color: #2E7D32 !important;
  margin-top: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
  text-decoration: none !important;
  justify-content: center;
  width: 100%;
  animation: pulse 1s infinite;
}

.view-more-btn:hover {
  color: #FF7043;
}

/* Arrow Icon Styling */
.arrow-icon {
  margin-left: 8px;
  display: inline-block;
}

.content-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.content-container.expanded {
  max-height: 1000px; /* Adjust based on content */
  transition: max-height 0.5s ease;
}
.venue-content{
  text-align: center;
  margin:4rem 0 ;
}
.venue-content>h2{
  color: #2E7D32;
  margin: 2rem 0;
}
.venue-row-content{
  position: relative;
}
.venue-row-content span{
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  right: 0;
  margin-top: 1.5rem;
  transform: translate(-50%);
}
.venue-row-content::before{
  content: "";
  position: absolute;
  right: 50%;
  top: 30%;
  bottom: 0;
  width: 1px;
  transform: translate(50%);
  border-left: 10px dotted #afafaf
  
}
.venue-content-box{
  text-align: left;
  padding: 34px 20px;
}
.venue-content-col-1{
  position: relative;
}
.venue-content-col-1::after{
  content: "";
  position: absolute;
  right: 50%;
  top: 0;
  bottom: 20px;
  width: 50%;
  transform: translate(50%);
  border-bottom: 10px dotted #afafaf;
  display: inline-block;
}
.venue-content-col-2{
  display: flex;
  justify-content: center;
  align-items: center;
}
.venue-content-image>img{
  height: 300px;
  width: 300px;
  border-radius: 50%;
}
@media (max-width:750px) {
  .res-banner{
    padding: 20px;
  }
  .res-banner p{
    font-size: 18px;
  }
  .venue-content-col-2{
    display: none;
   
  }
  .venue-row-content::before{
    content: "";
    position: absolute;
    left: 10px;
    top: 30%;
    bottom: 0;
    width: 1px;
    transform: translate(50%);
    border-left: 10px dotted #afafaf
    
}
.venue-row-content span{
  left: 20px;
}
.venue-content-box{
  padding-left: 40px;
}
}