.location{
    margin-top: 6.6rem;
}
.location-banner{
    background: rgb(90,90,207);
    background: linear-gradient(186deg, rgba(90,90,207,1) 0%, rgba(103,210,106,0.7232142857142857) 100%);
      background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    text-align: left;
    display: flex;
    padding: 30px;
    align-items: start;
    justify-content: center;
  margin:6rem 2rem  2rem 2rem;
  border-radius: 30px;
  color: #fff;
}
.location-col{
  display: flex;
  justify-content: center;
}
.location-content{
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  font-size: 20px;
}
.location-form{
  background-color: #fff;
  padding:10px 40px;
  border-radius: 10px;
  width: 400px;
}
.location-form form{
  display: flex;
  flex-direction: column;
  
}
.location-form input{
  padding: 5px;
  width: auto;
  border: #2E7D32 2px solid;
}
.location-form input:focus{
  outline: none;
  border: #FF7043 2px solid ;
}
.location-form label{
  color: #2E7D32;
  padding: 5px;
}
.location-form select{
  border: 2px solid  #2E7D32;

}
.location-cont h2{
 margin-bottom: 2rem;
  text-align: center;
  color: #2E7D32;
}
.location-cont {
  margin-top: 4rem;
}
.location-cont img{
  width: 80%;
}

.location-cont-col{
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width:850px) {
  .location-banner{
    height: auto;
  }
}