

.App {
  text-align: center;
}

.mybutton{
  position: fixed;
  bottom: 20px;
  right: -100px;
  z-index: 99;
  font-size: 24px;
  font-weight: 700;
  border: none;
  outline: none;
  background-color:green;
  color: white;
  cursor: pointer;
  width: 50px;
  border-radius: 4px;
  transition:.3s all ease;
}
.mybutton.show{
  position: fixed;
  bottom: 20px;
  right: 70px;
  z-index: 99;
  font-size: 24px;
  font-weight: 700;
  border: none;
  outline: none;
  background-color:green;
  color: white;
  cursor: pointer;
  width: 50px;
  border-radius: 4px;
  transition:1s all ease;
}
.chat-box{
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 99;
  
}
.chat-box img{
  height:40px;
}
.chat-box span{
  font-size: 16px;
  font-weight: 700;
  background: red;
  color: #fff;
  position: absolute;
  left: 20px;
  top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  width: 30px;
  border-radius: 50%;
}